@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

header nav {
  background-color: rgba(96, 244, 242, 0.339);
}

.header-h1 {
  text-align: center;
  font-family: "Rubik Vinyl", cursive;
}
